* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
    text-transform: capitalize;
    color: white;
}

.row {
    margin: auto;
    height: 300px;
    width: 400px;
    border: 2px solid mediumorchid;
    border-radius: 20px;
    margin-top: 100px;
    text-align: center;
    font-size: 50px;
    color: mediumorchid;
    padding-top: 122px;
}